* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: "Lucida Grande";
  }
  
  a {
    text-decoration: none;
  }
  
  .clear {
    clear: left;
  }
  
  .container {
    max-width: 1400px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
  }
  .tag{
      float:left;
      margin-top: 25px;
      font-size: x-large;
      color: white;
      font-family:Courier New;
  }
  
  .fa {
    margin-right: 5px;
    padding:10px;
  }
  
  header {
    height: 80px;
    width: 100%;
    background-color: rgba(34, 49, 52, 0.9);
    position :fixed;
    top: 0;
    z-index: 10;
  }
  
  .logo {
    width: 80px;
    height: 50%;
    border-radius: 50%;
    margin: 15px 10px;
    float: left;
  }
  
  .header-left {
    float: left;
  }
  
  .header-right {
    float: right;
    margin-right: -25px;
  }
  
  .header-right a {
    line-height: 80px;
    padding: 0 20px;
    color: white;
    display: block;
    float: left;
    transition: all 0.5s;
  }
  
  .header-right a:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }
 .page{
     background-image: url(https://ewscripps.brightspotcdn.com/dims4/default/bc45651/2147483647/strip/true/crop/640x360+0+34/resize/1280x720!/quality/90/?url=https%3A%2F%2Fmediaassets.abc2news.com%2Fphoto%2F2018%2F08%2F23%2F647251756-170667a_1535046311021_95521833_ver1.0_640_480.jpg);
    width:100%;
    height:700px;
    background-size: cover;
    padding-top: 150px;
    opacity: 0.8;
    }
    .mid{
      max-width: 1200px;
      margin-left:150px;
      font-size: x-large;
    }
    .mid h1{
      text-align: center;
      color: rgb(230, 22, 136);
    }
  footer{
    background-color: #2f5167;
    color: #fff;
    height: 200px;
    padding-bottom: 10px;
  }
  #hh{
    margin-top: 400px;
  }
  #cont{
    max-width: 1400px;
    width: 100%;
  }
  .footer-list {
    float: right;
    padding-left: 50px;
    padding-top: 20px;
  }
  
  .play2{
    float: right;
    margin-right: 100px;
  }
  .play2, .play1 p,h1{
    font-style: italic;
    font-weight: bold;
  }
  .play1{
    float: left;
    margin-left: 100px;
  }
  input{
    width: 300px;
    height: 80px;
    background-color: #252525;
    color: #fff;
    font-size: 36px;
    font-family:"Helvetica Neue";
    border: none;
    padding: 0 20px;
    box-sizing: border-box;
  }
  input:hover{
    background-color: purple;
  }
  .start{
    margin-top:200px;
    padding: 25px 40px;
    display: inline-block;
    border-radius: 4px;
    margin-left: 30px;
    font-size: 20px;
    color: whitesmoke;
    background-color: darkgreen;
    cursor: pointer;
    opacity: 0.6;
  }
#work{
  margin-top: 200px;
  height: 200px;
  width: 100%;
  padding-left:100px;
}
#work li{
  font-size: 25px;
}
.game{
  background-image: url(https://images.unsplash.com/photo-1544430792-111894462e8d?ixlib=rb-1.2.1&w=1000&q=80);
  width: 100%;
  padding-left: 30px;
  padding-top: 150px;
  background-size: cover;
  height: 800px;
}
#score1, #score2{
  color:white;
  background-color: red;
  width: 120px;
  height: 80px;
  text-align: center;
  font-size: 30px;
}

.roll{
  padding: 15px 20px;
  display: inline-block;
  border-radius: 8px;
  font-size: 25px;
  color: whitesmoke;
  background-color: darkgreen;
  cursor: pointer;
  opacity: 0.6;
  margin-left: 50px;
  margin-top: 20px;
}
#pr{
  margin-top: 430px;
  margin-left: 650px;
}
#cngImg{
  float: left;
  margin-top: 20px;
  height: 50px;
}
#g1, #g2{
    width: 500px;
    height: 60px;
    background-color: #252525;
    color: #fff;
    font-size: 30px;
    font-family:"Helvetica Neue";
    border: none;
    padding: 0 20px;
    box-sizing: border-box;
}
.vl{
  border-left: 3px solid black;
  margin-left: 50%;
  top: 0%;
  height: 605px;
  position: absolute;
}